#everything{
    background-color: darkgray;
}
        #favorite{
        font-family: 'Montserrat', sans-serif;
            margin-left:200;
            margin-right:200;
            background-image: linear-gradient(aquamarine,green);
      }
        #display{
          font-size:60px;
        }